* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: white;
    font-weight: 300;
}

.main-container ul {
    scroll-behavior: smooth;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-left: 10vw;
    overflow: auto;
}